wcf-part/MMK-24-3-client/MMK-24-3-client/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16451/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import schemaLocation="http://localhost:16451/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r" type="xs:float" />
        <xs:element minOccurs="0" name="k" type="xs:float" />
        <xs:element minOccurs="0" name="b" type="xs:float" />
        <xs:element minOccurs="0" name="delta" type="xs:float" />
        <xs:element minOccurs="0" name="rectSquare" type="xs:float" />
        <xs:element minOccurs="0" name="square" type="xs:float" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="C" type="q1:Point" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="D" type="q2:Point" />
        <xs:element minOccurs="0" name="iterations" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataResult" nillable="true" type="q3:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealSquare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="C" type="q4:Point" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="D" type="q5:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealSquareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRealSquareResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSomeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="C" type="q6:Point" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="D" type="q7:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSomeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSomeDataResult" nillable="true" type="q8:ArrayOffloat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>